img {
  width: 150px;
  border-radius: 100%;
}

#top {
  width: 99%;
  background-color: yellowgreen;
  height: 100px;
  line-height: 100px;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-weight: bold;
}

#logoimg {
  width: 50px;
  position: absolute;
  top: 31px;
  right: 200px;
}
#delimg {
  width: 50px;
  position: absolute;
  top: 31px;
  right: 100px;
}


#frige {
  margin: 0 auto;
  margin-top: 50px;
  width: 80%;
  border: 10px solid rgb(211, 210, 210);
  border-radius: 50px;
  padding: 50px;
}

#materials {
  margin: 0 auto;
  margin-top: 50px;
  width: 80%;
  border: 10px solid rgb(211, 210, 210);
  border-radius: 50px;
  padding: 50px;
}

#materia {
  margin: 8px;
}